*.libs
*.deps
*Makefile.in
*Makefile
config.*
libtool
*.plist
autom4te.cache/*
configure
config.h*
conf/*
!conf/config.rpath
*~
res/opennx.rc
stamp-h1
opensc/opensc-config
packaging/win32/findrequires.pl
packaging/win32/isccwrap.sh
po/POTFILES
po/*.gmo
po/*.sed
po/*.pot
*.o
aclocal.m4
memres.h
pconnect
pulsetest
rxclient
tmpres.zip
watchreader

*.tar.gz
*.exe
.dlldeps
.miscfonts
.setupdir
.stripsetup

*.m4
/op/*
*.orig
*.rej
packaging/win32/pulse/include/*
packaging/win32/pulse/pa-win32-*/*

packaging/win32/cygnx/*
packaging/win32/dejavu-fonts-ttf*
packaging/win32/font-misc-misc*
packaging/win32/pulse/dist/*
packaging/win32/setupdir/*

build/
pulse/*.h
