*.libs
*.deps
*Makefile.in
*Makefile
config.*
libtool
*.plist
autom4te.cache/*
configure
config.h*
conf/*
!conf/config.rpath
*~
res/opennx.rc
stamp-h1
opensc/opensc-config
packaging/win32/findrequires.pl
packaging/win32/isccwrap.sh
po/POTFILES
po/*.gmo
po/*.sed
po/*.pot
*.o
aclocal.m4
memres.h
pconnect
pulsetest
rxclient
tmpres.zip
watchreader


